<form class="form-horizontal" method="post" action="https://formspree.io/bily.viktor@gmail.com" enctype="multipart/form-data">
    <fieldset>
       
        <div class="control-group">
            <label class="control-label" for="surname">Surname & Name:</label>
            <div class="controls">
                <input name="surname_name" class="input-xlarge" type="text" id="surname" placeholder="John Smith" required="">
            </div>
        </div>
        
       
        <div class="control-group">
            <label class="control-label" for="email">E-mail:</label>
            <div class="controls">
                <input name="email" class="input-xlarge" type="email" id="email" placeholder="john@gmail.com" required="">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="phone">Subject:</label>
            <div class="controls">
                <input name="phone" class="input-xlarge" type="text" id="phone" placeholder="subject of your message" required="">
            </div>
        </div>
       
        <div class="control-group">
            <label class="control-label" for="note">The Message:</label>
            <div class="controls">
                <textarea name="note" class="input-xlarge" rows="3" id="note" placeholder="your message"></textarea>
            </div>
        </div>
        
        <div class="form-actions">
            <input name="submit" class="btn btn-primary" type="submit" value="Send">
        </div>
    </fieldset>
</form>
